/*
	Style for USGS VGI Structures Project

	2010-12-20 - Kevin McNinch 	klmcninch@usgs.gov
        Created
    2011-12-01 - Eric Wolf ebwolf@usgs.gov
        Modified for new Potlatch 2 

*/


/*==========================
       USGS Structures
==========================*/


/*=====Education=====*/
/*= School =*/
node[FCode=73002]::Icon{ icon-image: usgs/school.png; z-index: 1; }
/*= School: Elementary =*/
node[FCode=73003]::Icon{ icon-image: usgs/elementary_school.png; z-index: 1; }
/*= School: Middle School =*/
node[FCode=73004]::Icon{ icon-image: usgs/middle_school.png; z-index: 1; }
/*= School: High School =*/
node[FCode=73005]::Icon{ icon-image: usgs/high_school.png; z-index: 1; }
/*= College / University =*/
node[FCode=73006]::Icon{ icon-image: usgs/college_university.png; z-index: 1; }

/*===== Emergency Response and Law Enforcement =====*/
/* Fire Station/EMS Station */
node[FCode=74026]::Icon{ icon-image: usgs/firestation_ems.png; z-index: 1; }
/* Law Enforcement */
node[FCode=74034]::Icon{ icon-image: usgs/law_enforcement.png; z-index: 1; }
/* Prison/Correctional Facility */
node[FCode=74036]::Icon{ icon-image: usgs/prison_correctionalfacility.png; z-index: 1; }

/*===== Government and Military =====*/
/*= State Capitol = */
node[FCode=83006]::Icon{ icon-image: usgs/state_capitol.png; z-index: 1; }
/*= Court House =*/
node[FCode=83011]::Icon{ icon-image: usgs/courthouse2.png; z-index: 1; }
/*= City / Town Hall =*/
node[FCode=83044]::Icon{ icon-image: usgs/city_townhall.png; z-index: 1; }


/*===== Health and Medical =====*/
/*= Hospital / Medical Center =*/
node[FCode=80012]::Icon{ icon-image: usgs/hospital_medicalcenter.png; z-index: 1; }

/*===== Mail and Shipping =====*/
/*= Post Office =*/
node[FCode=78006]::Icon{ icon-image: usgs/postoffice.png; z-index: 1; }

/*===== Public Attractions and Landmark Buildings =====*/
/*= Amusement/Water Park =*/
node[FCode=82002]::Icon{ icon-image: usgs/amusement_waterpark.png; z-index: 1; }
/*= Auditorium / Convert Hall / Theater / Opera House =*/
node[FCode=82006]::Icon{ icon-image: usgs/auditorium_concerthall_theater_operahouse.png; z-index: 1; }
/*= Campground =*/
node[FCode=82008]::Icon{ icon-image: usgs/campgroundv2.png; z-index: 1; }
/*= Cemetery =*/
node[FCode=82010]::Icon{ icon-image: usgs/cemetery.png; z-index: 1; }
/*= Convention Center =*/
node[FCode=82012]::Icon{ icon-image: usgs/convention_center.png; z-index: 1; }
/*= Fair / Exhibition / Rodeo Grounds =*/
node[FCode=82014]::Icon{ icon-image: usgs/Fair_exhibition_rodeogrounds.png; z-index: 1; }
/*= Historic Site / Point of Interest =*/
node[FCode=82018]::Icon{ icon-image: usgs/historicsite_pointofinterest.png; z-index: 1; }
/*= House of Worship =*/
node[FCode=82020]::Icon{ icon-image: usgs/place_of_worship.png; z-index: 1; }
/*= Ice Arena =*/
node[FCode=82022]::Icon{ icon-image: usgs/ice_arena.png; z-index: 1; }
/*= Library =*/
node[FCode=82024]::Icon{ icon-image: usgs/library.png; z-index: 1; }
/*= Lighthouse / Light =*/
node[FCode=82026]::Icon{ icon-image: usgs/lighthouse.png; z-index: 1; }
/*= Museum =*/
node[FCode=82032]::Icon{ icon-image: usgs/museum.png; z-index: 1; }
/*= National Symbol/Mounment =*/
node[FCode=82034]::Icon{ icon-image: usgs/nationalsymbol_monument.png; z-index: 1; }
/*= Outdoor Theater / Amphitheater =*/
node[FCode=82038]::Icon{ icon-image: usgs/outdoorauditorium_amphitheater.png; z-index: 1; }
/*= Racetrack/Dragstrip =*/
node[FCode=82042]::Icon{ icon-image: usgs/racetrack_dragstrip.png; z-index: 1; }
/*= Sports Arena/Stadium =*/
node[FCode=82046]::Icon{ icon-image: usgs/sportsarena_stadium.png; z-index: 1; }
/*= Zoo =*/
node[FCode=82050]::Icon{ icon-image: usgs/zoo.png; z-index: 1; }


/*=====Draw status of structure under the structure icon=====*/
node[Status=GAZ]::Status{ icon-image: usgs/red28.png; z-index: 2; }
node[Status=EDIT]::Status{ icon-image: usgs/yellow28.png; z-index: 2; }
node[Status=QC1]::Status{ icon-image: usgs/green28.png; z-index: 2; }
node[Status=QC2]::Status{ icon-image: usgs/onepixeltransparent.png; z-index: 2; }

/* draw selected node */
/* node :selected { z-index: 21; icon-image: square; icon-width: eval('_width+10'); color: yellow; interactive: no;  opacity: 0.3;} */
node:selected{ icon-image: square; icon-width: 30; color: yellow; interactive: no;  opacity: 0.3; z-index: 3; }

/* draw Structures and GNIS points that did not match the categories for structures. */
node !:drawn:poi{ icon-image: circle; icon-width: 4; color: green; casing-color: black; casing-width: 1; z-index: 1; }

/*============================
      End USGS Structures
============================*/




